In [440]:
import pandas as pd
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as rmse
import statsmodels.api as sm
from scipy import stats
from math import *

In [441]:
data1 = pd.read_csv("/home/fatou/Bureau/zindi/Train.csv")
data2 = pd.read_csv("/home/fatou/Bureau/zindi/Test.csv")
data3 = pd.read_csv("/home/fatou/Bureau/zindi/Riders.csv")






# 1er knn

In [442]:
train=data1.drop(columns='Precipitation in millimeters',axis = 1)
train['Personal or Business']=train['Personal or Business'].replace("Personal","1")
train['Personal or Business']=train['Personal or Business'].replace("Business","2")
train = pd.merge(train, data3, how='left', left_on='Rider Id', right_on='Rider Id', left_index=True)
train=train.fillna(23.26)

In [443]:
train=train[['Distance (KM)','Pickup Lat','Pickup Long','Destination Lat','Destination Long','Time from Pickup to Arrival','Average_Rating','Age']]

In [444]:
x = train.drop(columns='Time from Pickup to Arrival',axis = 1)
y = train['Time from Pickup to Arrival']
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

In [445]:
print(X_test.shape)
print(X_train.shape)

(4241, 7)
(16960, 7)

In [446]:
K=[]
L=[]
for i in range(1,25,3):
    knn=KNeighborsRegressor(n_neighbors=i)
    knn.fit(X_train, y_train)
    K.append(i)
    L.append(knn.score(X_train,y_train))
#plt.plot(L)

In [447]:
pd.DataFrame(L,K)

           0
1   0.979351
4   0.562199
7   0.490169
10  0.454228
13  0.430299
16  0.411340
19  0.399182
22  0.388710

In [448]:
knn=KNeighborsRegressor(n_neighbors=7)
knn.fit(X_train, y_train)
print("score:",knn.score(X_train,y_train))

score: 0.4901688347459828

In [449]:
y_predi=knn.predict(X_test)
comparaison=pd.DataFrame()
comparaison['exact'] = y_test
comparaison['predit'] = y_predi
print(comparaison.head())

     exact       predit
650   1543   693.571429
778    817   853.142857
382    886  1523.000000
71    3705  1807.142857
101   2764  2737.571429

In [450]:
print("rmse: ",sqrt(rmse(y_test,y_predi)))

rmse:  825.9918868456693

In [451]:
data2['Personal or Business'] = data2['Personal or Business'].replace("Personal",int("1"))
data2['Personal or Business'] = data2['Personal or Business'].replace("Business",int("2"))

test = pd.merge(data2, data3, how='left', left_on='Rider Id', right_on='Rider Id', left_index=True)

test=test[['Distance (KM)','Pickup Lat','Pickup Long','Destination Lat','Destination Long','Average_Rating','Age']]

In [452]:
y_predi1=knn.predict(test)
comparaison=pd.DataFrame()
y_predi1.max()

4651.0

In [453]:
data1["Time from Pickup to Arrival"].min()

1

In [454]:
sample=pd.read_csv('/home/fatou/Bureau/zindi/SampleSubmission.csv')
sample['Time from Pickup to Arrival']= y_predi1

In [457]:
sample.to_csv('/home/fatou/Bureau/zindi/samplek.csv')

# 2em regression

In [ ]:
train=data1.drop(columns='Precipitation in millimeters',axis = 1)

In [ ]:
train['Personal or Business']=train['Personal or Business'].replace("Personal","1")
train['Personal or Business']=train['Personal or Business'].replace("Business","2")

In [ ]:
train=train[['Personal or Business','Distance (KM)','Pickup Lat','Pickup Long','Destination Lat','Destination Long','Time from Pickup to Arrival']]

In [ ]:
train.shape
train=train.fillna(23.26)

In [ ]:

x = train.drop(columns='Time from Pickup to Arrival',axis = 1)
y = train['Time from Pickup to Arrival']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.8)

In [ ]:
reg = LinearRegression()
reg.fit(X_train, y_train)
print("coefficient: ",reg.coef_)
print("intercept: ",reg.intercept_)
print("score:",reg.score(X_train,y_train))

In [ ]:
y_predi=reg.predict(X_test)
comparaison=pd.DataFrame()
comparaison['exact'] = y_test
comparaison['predit'] = y_predi
print(comparaison.head())

In [ ]:
print("rmse: ",sqrt(rmse(y_test,y_predi)))

In [ ]:
data2['Personal or Business'] = data2['Personal or Business'].replace("Personal",int("1"))
data2['Personal or Business'] = data2['Personal or Business'].replace("Business",int("2"))

test = pd.merge(data2, data3, how='left', left_on='Rider Id', right_on='Rider Id', left_index=True)

test = test[['Distance (KM)','Average_Rating','Age']]

# bon model

In [214]:

train = data1.drop(columns = 'Precipitation in millimeters',axis = 1)
train['Personal or Business'] = train['Personal or Business'].replace("Personal",int("1"))
train['Personal or Business'] = train['Personal or Business'].replace("Business",int("2"))
train = pd.merge(train, data3, how='left', left_on='Rider Id', right_on='Rider Id', left_index=True)

In [215]:
train.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,No_Of_Orders,Age,Average_Rating,No_of_Ratings
27,Order_No_4211,User_Id_633,Bike,3,2,9,5,9:35:46 AM,9,5,...,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745,1637,1309,13.8,549
739,Order_No_25375,User_Id_2285,Bike,3,1,12,5,11:16:16 AM,12,5,...,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993,396,339,13.6,69
851,Order_No_1899,User_Id_265,Bike,3,2,30,2,12:39:25 PM,30,2,...,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455,1023,242,12.5,114
806,Order_No_9336,User_Id_1402,Bike,3,2,15,5,9:25:34 AM,15,5,...,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341,886,283,14.5,113
159,Order_No_27883,User_Id_1737,Bike,1,1,13,1,9:55:18 AM,13,1,...,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214,2311,872,14.1,533

In [216]:
train = train[['Distance (KM)','Time from Pickup to Arrival','Average_Rating','Age']]

In [217]:
x = train.drop(columns='Time from Pickup to Arrival',axis = 1)
y = train['Time from Pickup to Arrival']

In [218]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

In [219]:
print(X_train.shape)
print(X_test.shape)

(14840, 3)
(6361, 3)

In [220]:
reg = LinearRegression()
reg.fit(X_train, y_train)
print("coefficient: ",reg.coef_)
print("intercept: ",reg.intercept_)
print("score:",reg.score(X_train,y_train))

X2 = sm.add_constant(X_train)
est = sm.OLS(y_train, X2)
est2 = est.fit()
print(est2.summary())

coefficient:  [ 1.00827246e+02 -3.98323591e+01 -4.00626730e-02]
intercept:  1194.2677280285752
score: 0.3340118748499179
                                 OLS Regression Results
=======================================================================================
Dep. Variable:     Time from Pickup to Arrival   R-squared:                       0.334
Model:                                     OLS   Adj. R-squared:                  0.334
Method:                          Least Squares   F-statistic:                     2480.
Date:                         Wed, 06 Nov 2019   Prob (F-statistic):               0.00
Time:                                 12:54:13   Log-Likelihood:            -1.2043e+05
No. Observations:                        14840   AIC:                         2.409e+05
Df Residuals:                            14836   BIC:                         2.409e+05
Df Model:                                    3
Covariance Type:                     nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const           1194.2677     97.253     12.280      0.000    1003.640    1384.896
Distance (KM)    100.8272      1.173     85.965      0.000      98.528     103.126
Average_Rating   -39.8324      6.895     -5.777      0.000     -53.348     -26.317
Age               -0.0401      0.010     -3.907      0.000      -0.060      -0.020
==============================================================================
Omnibus:                     5168.535   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            25647.317
Skew:                           1.616   Prob(JB):                         0.00
Kurtosis:                       8.570   Cond. No.                     1.73e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.73e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

#

In [221]:
y_predi=reg.predict(X_test)
comparaison=pd.DataFrame()
comparaison['exact'] = y_test
comparaison['predit'] = y_predi
print(comparaison.head())

     exact       predit
472   1093   895.423095
467      4   985.798045
613   1998   794.538755
424    584   913.376203
502    684  1040.747002

In [222]:
print("rmse: ",sqrt(rmse(y_test,y_predi)))

rmse:  785.7660032443878

In [223]:
data2['Personal or Business'] = data2['Personal or Business'].replace("Personal",int("1"))
data2['Personal or Business'] = data2['Personal or Business'].replace("Business",int("2"))

test = pd.merge(data2, data3, how='left', left_on='Rider Id', right_on='Rider Id', left_index=True)

test = test[['Distance (KM)','Average_Rating','Age']]

In [224]:
y_predi1=reg.predict(test)
comparaison=pd.DataFrame()
y_predi1.max()

5332.473961126956

In [225]:
data1["Time from Pickup to Arrival"].min()

1

In [226]:
sample=pd.read_csv('/home/fatou/Bureau/zindi/SampleSubmission.csv')
sample['Time from Pickup to Arrival']= y_predi1

In [227]:
sample.to_csv('/home/fatou/Bureau/zindi/sample.csv')

In [229]:
sample

            Order_No  Time from Pickup to Arrival
0     Order_No_19248                  1410.580623
1     Order_No_12736                  1113.880879
2       Order_No_768                  1158.171225
3     Order_No_15332                  1130.265543
4     Order_No_21373                  1192.724748
5     Order_No_14573                  2220.164199
6      Order_No_6731                  2390.982434
7     Order_No_18436                  1417.036713
8      Order_No_2288                  1447.707690
9      Order_No_9063                  2111.633889
10     Order_No_4814                  1417.077745
11    Order_No_16747                  2579.174899
12     Order_No_6376                  1590.139489
13     Order_No_1199                  1331.920035
14    Order_No_17119                  1527.765440
15    Order_No_14832                  1215.388221
16    Order_No_12321                   896.984570
17    Order_No_24820                  1501.038606
18     Order_No_6065                  1285.212959
19    Order_No_13176                   828.774340
20    Order_No_23557                   866.813315
21    Order_No_20488                  2068.146390
22    Order_No_24214                  1268.015041
23    Order_No_21206                  2208.970651
24     Order_No_1930                  1005.286505
25    Order_No_28180                  1996.875864
26    Order_No_13329                   799.351307
27    Order_No_19004                  1006.912043
28    Order_No_27510                  1786.958398
29    Order_No_25394                  1931.166550
...              ...                          ...
7038  Order_No_10317                  1100.962698
7039  Order_No_11143                  1628.094903
7040   Order_No_8996                  2278.124385
7041  Order_No_14381                   756.410121
7042  Order_No_22839                  1105.794844
7043    Order_No_463                  1188.802669
7044   Order_No_3700                  1421.386513
7045  Order_No_23416                  1584.060994
7046  Order_No_16891                   773.173350
7047  Order_No_17710                  1408.487302
7048    Order_No_233                  1707.374431
7049  Order_No_15773                   988.146650
7050  Order_No_15488                  1084.835441
7051  Order_No_16865                  1046.289149
7052   Order_No_1301                   940.282787
7053  Order_No_18519                  1040.720438
7054  Order_No_14258                  1114.596007
7055   Order_No_8374                  1408.487302
7056  Order_No_25128                  2911.910925
7057  Order_No_11937                  2818.540367
7058  Order_No_25241                  1203.639796
7059   Order_No_5287                  1410.695780
7060   Order_No_7712                  2408.563947
7061    Order_No_294                  1412.241193
7062  Order_No_16972                  1150.531255
7063   Order_No_3612                  1156.408468
7064   Order_No_7657                  2750.548011
7065   Order_No_1969                  1603.273077
7066  Order_No_10591                  2412.346870
7067   Order_No_1603                  1431.334057

[7068 rows x 2 columns]